.main-div {
  background-color: gray;
  width: 400px;
  margin: auto;
  border-radius: 5px;
}

.section {
  display: flex;
}

.box {
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#red-box {
  background-color: red;
}

#green-box {
  background-color: green;
}

#blue-box {
  background-color: blue;
}

#yellow-box {
  background-color: yellow;
}

.btn-section {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: orangered;
  color: white;
  margin: 10px;
  width: 180px;
  height: 30px;
}

#input-area {
  margin: 10px;
  width: 200px;
  height: 20px;
  border-radius: 5px;
}

.input-div {
  display: flex;
  justify-content: center;
}

.move-div {
  padding: 7px;
  background-color: black;
  color: white;
  font-weight: 16px;
  border-radius: 7px;
  border: 1px solid white;
}
